@font-face {
  font-family: "Royal";
  src: url("Royal.otf") format("opentype");
}

html,
body {
  height: auto;
  margin: 0;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  /*background-color: #04402F;*/
  background: radial-gradient(#054b37 15%, transparent 16%),
    linear-gradient(45deg, transparent 49%, #054b37 49% 51%, transparent 51%),
    linear-gradient(-45deg, transparent 49%, #054b37 49% 51%, transparent 51%);
  background-size: 4em 4em;
  background-color: #04402f;
  background-attachment: fixed;
  opacity: 1;
}

.welcome {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

.welcome::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.6) 100%
  );
  pointer-events: none;
  z-index: 0;
}

.title-1 {
  font-family: Royal;
  font-size: 125px;
  color: #deb887;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.title-2 {
  font-family: Royal;
  font-size: 50px;
  color: #deb887;
}

.title-3 {
  font-family: Royal;
  font-size: 25px;
  color: #deb887;
}

.text-1 {
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  color: white;
}

.para-welcome {
  margin-top: 15px;
  width: 30%;
  text-align: center;
}

.bi-caret-down-fill {
  font-size: 3rem;
  color: #042f23;
  margin-top: 15px;
}

.contents-table {
  background-color: white;
}

.offcanvas {
  /*background-color: #d66f00;*/
  background-color: #ff7e27;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(images/leather2.png);
  background-blend-mode: multiply;
  background-size: 300px;
  width: 250px !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
  right: 1rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sidebar-inner {
  width: 100%;
  height: 100%;
  margin: 5%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}

.sidebar-inner2 {
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-style: dashed;
  border-color: rgb(249, 237, 224);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.6);
}

.link-1 {
  font-size: 1.5rem !important;
}

.btn-menu {
  z-index: 10;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0.5rem;
}

.btn-menu:hover {
  background: rgba(255, 255, 255, 0.1) !important;
}

.offcanvas-title {
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  font-size: 45px;
  color: rgba(0, 0, 0, 0.05);
  text-shadow: 0px 1px 0px #d66f006c, 1px -1px 1px rgba(0, 0, 0, 0.7);
}

.link-1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: white;
}

.main {
  width: 100%;
}

.divider {
  background-color: #deb887;
  height: 1rem;
  margin-bottom: 15px;
}

.bow {
  fill: #deb887;
  height: 150px;
  transform: translateY(-31%);
}

.education {
  background: linear-gradient(70deg, white 50%, transparent 50%);
}

.hobbies {
  background-color: #042f23;
  background: linear-gradient(110deg, transparent 50%, white 50%);
  text-align: end;
}

.carousel-control-prev {
  display: flex;
  justify-content: left;
  margin-left: -5px;
}

.carousel-control-next {
  display: flex;
  justify-content: right;
  margin-right: -5px;
}

.carousel-text {
  font-size: 35px;
  font-weight: bolder;
  color: #d66f00;
  transform: scaleY(2.5);
  padding-bottom: 12px;
}

.highlight {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  color: transparent;
  -webkit-background-clip: text;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
